<div class="spacer"></div>
<h1><span class="lightblue"><%= @user.username %>'s game collection:</span> </h1>
<form action="/users/<%= @user.slug %>/editgames" method="post">
<h2><span class="lightblue">Create (and add) a new game:</span> </h2>
<fieldset>
<p>Name: <input class="input stretch" type="text" name="user[new_game_name]" id="new_game_name"><br></p>
<p>Year: <input class="input stretch" type="text" name="user[new_game_year]" id="new_game_year"><br></p>
<p>Console: <select name="user[new_game_console_id]" class="input">
	<% @consoles.each do |my_console| %>
	<option value="<%= my_console.id %>" name="<%= my_console.id %>" id = "<%= my_console.id %>" ><%= my_console.name %></option>
	<% end %>
</select></p>
</fieldset>

<h5><span class="red">*** Games require an associated console.<br> If the console is not listed, </span><a href="/consoles/new">Create</a><span class="red"> one in the database ***</span></h5>
<hr align="left" width="100%">
<h2><span class="lightblue">Existing Games (check to add to your collection):</span></h2>

<% @games.order(:console_id).each do |game| %>
<input type="checkbox" name="user[game_ids][]" value="<%= game.id %>" 

<% if @user.games.include?(game) %>
	<%= "checked" %>
<% end %>

><span class="lightblue"><%= game.name %> (<%= game.console.name %>)</span></input><br>
<% end %>
<br>
<input type="submit" value="submit">
</form>