<div class="spacer"></div>
<% if @message %>
<h3> <%= @message %></h3>
<% end %>
<a href="/games/new">Create a game</a><br>
<h1>All games: </h1>

<% @games.each do |game| %>
	<a href="/games/<%= game.id %>/"><%= game.name %></a> - <a href="/consoles/<%= game.console.id %>"><%= game.console.name %> </a>(<%= game.year %>)<br>
	<% end %>

	<br>
<br>
<hr align="left">
<a href="/games">Back to games</a>
<br>
<a href="/users">Back to users</a>