<div class="spacer"></div>

<h1><%= @game.name %></h1>
<h3>For: <a href="/consoles/<%= @game.console.id %>"><%= @game.console.name %></a></h3>
<h3>Released in: <%= @game.year %></h3>
<a href="/games/<%= @game.id %>/edit">Edit game</a>
<form action="/games/<%= @game.id %>/delete" method="post">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<br>
<hr align="left">
<br>
<a href="/games">Back to games</a>
<br>
<a href="/users">Back to users</a>