<div class="spacer"></div>

<h1><span class="lightblue gamebackground"><%= @game.name %></span></h1>
<h3><span class="lightblue">For: </span><a href="/consoles/<%= @game.console.id %>"><%= @game.console.name %></a></h3>
<h3><span class="lightblue">Released in: <%= @game.year %></span></h3>
<a href="/games/<%= @game.id %>/edit">Edit game</a>
<form action="/games/<%= @game.id %>/delete" method="post">
<br>
<input type="hidden" id="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<br>
<hr align="left">
<br>